{% extends 'base2.html.twig' %}


{% block body %}

<header>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 banniere">

    </div>
</header>

<div class="row mb-5">
        {% for  trick in tricks  %} 
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="card">
                    <h5 class="card-header">{{trick.name}}</h5>
                    <div class="card-body">
                        <p class="card-text">{{trick.content}}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
        

    </div>


    {% for trick in tricks %}

        <div>{{trick.name}}</div>

    {% endfor %}

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/xampp/htdocs/P6_SnowTricks/src/Controller/HomePageController.php'|file_link(0) }}">src/Controller/HomePageController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/xampp/htdocs/P6_SnowTricks/templates/home_page/index.html.twig'|file_link(0) }}">templates/home_page/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
