{% extends 'base.html.twig' %}


{% block body %}

<div class="row banniere my-4">
<img src="./img/banniere2.jpg" alt="">
</div>

<div class="container">

<div class="row mb-5">
        {% for  trick in tricks  %} 
            <div class="col-lg-4 col-md-12 col-sm-12">
             <div class="card">
              <img class="card-img-top" src="./img/{{trick.photo}}" alt="Card image cap">
              <h5 class="card-header">{{trick.name}}</h5>
              <div class="card-body">              
                <p class="card-text">{{trick.content|slice(0,100)|raw}}...</p>
                <a href="trick/{{trick.id}}" class="btn btn-primary">Lire la suire</a>
                {% if app.user %}
                {% if is_granted('ROLE_ADMIN') or trick.user.id == app.user.id %}
                <a class="edit btn btn-outline-warning" href="trick/{{trick.id}}/edit">Modifier</a>                     
                <a class="delete btn btn-outline-danger" href="trick/{{trick.id}}/delete">delete</a>
                {% endif %}
                {% endif %}
              </div>
            </div>
            </div>
        {% endfor %}


</div>

</div>

{% endblock %}
