{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}


        <div class="row mt-4 ">
            <div class="col-4 mx-4">
                <h1>Inscription</h1>
                    {% form_theme registrationForm 'bootstrap_5_layout.html.twig' %}
                    {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.name) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.plainPassword, {
                       label: 'Password'
                    }) }}

                    <button type="submit" class="btn btn-primary m-4">S'enregistrer</button></a>

                    {{ form_end(registrationForm) }}
            </div>
        </div>


{% endblock %}
